* {
    margin: 0;
    padding: 0;
}

body {
    background: url("resources/1.png") repeat-y right top;

    padding: 10px;
}

h1 {
    padding: 10px 0 20px;
}

p {
    text-align: justify;
    width: 450px;
    font-weight: bold;

}
